<!DOCTYPE html>
<html>
    <head>
        <title>BeDOM demo</title>

        <link href="resources/css/main.css" rel="stylesheet"/>
    </head>
    <body>
        Input: <input type="text" id="inputField" />
                <script language="BeDOM" forTag="inputField">
                    //Example of chained declarations for same event
                    thisTag.do('ADD_CLASS', ['firstClass', 'thirdClass']).do('APPLY_STYLE', [{ "font-size": "16px" }]).when('IS_NOT_EMPTY');

                    //Example of subsequent transformations for same event
                    thisTag.do('REMOVE_CLASS', ['firstClass']).when('IS_EMPTY');
                    thisTag.do('REMOVE_CLASS', ['thirdClass']).when('IS_EMPTY');

                    //Example of watching a different field
                    thisTag.do('APPLY_STYLE', [{ "font-size": "14px" }]).when('ELEMENT', ['inputField2', 'IS_LONGER_THAN', [4]]);
                </script>
        <br />
        Other input:  <input type="text" id="inputField2" />
                    <script language="BeDOM" forTag="inputField2">
                        //Example of value capture
                        thisTag.do('CAPTURE_VALUE_FOR', ['form', '/field1/field2']).when('CHANGES');
                    </script>
        <br />
        Output: Hello <span id="outputField">blah</span>
                <script language="BeDOM" forTag="outputField">
                    //Example of value display
                    thisTag.do('REFRESH_VALUE').do('TOGGLE_CLASS', ['secondClass']).when('DATA_SOURCE', ['form', '/field1/field2', 'CHANGES']);
                </script>
        <div id="errorMessage" style="display: none;">ERROR</div>
        <script language="TODO" forTag="errorMessage">
            //TODO: field status integration
            thisTag.do('SHOW').do('ADD_CLASS', ['fourthClass']).when('ELEMENT', ['inputField', 'CHANGE_STATUS_TO', ['invalid']]).andRevertOtherwise();
        </script>

        <br/>
        <script language="BeDOM" forTag="inputField">
            //Example of delayed declaration
            thisTag.do('REMOVE_CLASS', ['thirdClass']).when('IS_LONGER_THAN', [3]);
        </script>

        TODO:
        <script language="TODO" forTag="inputField">
            //TODO: Revert otherwise
            thisTag.do('CHANGE_STATUS_TO',['invalid']).when('IS_EMPTY').andRevertOtherwise();
        </script>


        <script type="text/javascript" src="resources/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="resources/js/lib/lodash-2.4.1.js"></script>
        <script type="text/javascript" src="resources/js/public/bundle.js"></script>
    </body>
</html>
