<!DOCTYPE html>
<html>
    <head>
        <title>BeDOM demo</title>

        <link href="resources/css/main.css" rel="stylesheet"/>
    </head>
    <body>
        Input: <input type="text" id="inputField" />
                <script language="BeDOM" forTag="inputField">
                    thisTag.do('CHANGE_COLOR_TO', ['orange']).do('CHANGE_BGCOLOR_TO', ['green']).when('IS_NOT_EMPTY');
                    thisTag.do('CHANGE_COLOR_TO', ['red']).when('IS_EMPTY');
                    thisTag.do('CHANGE_BGCOLOR_TO', ['white']).when('IS_EMPTY');
                </script>
                <script language="TODO" forTag="inputField">
                    thisTag.do('CHANGE_COLOR_TO', ['orange']).when('IS_NOT_EMPTY');
                    thisTag.captureValueFor('form', '/field1/field2');
                    thisTag.do('CHANGE_STATUS_TO',['invalid']).when('IS_EMPTY').andRevertOtherwise();
                </script>
        <br />
        Output: Hello <span id="outputField"></span>
                <script language="TODO" forTag="outputField">
                    thisTag.displayValueFrom('form', '/field1/field2');
                </script>
        <div id="errorMessage" style="display: none;">ERROR</div>
        <script language="TODO" forTag="errorMessage">
            thisTag.do('SHOW').do('CHANGE_COLOR_TO', ['red']).when('ELEMENT', ['inputField', 'CHANGE_STATUS_TO', ['invalid']]).andRevertOtherwise();
        </script>


        <script type="text/javascript" src="resources/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="resources/js/lib/lodash-2.4.1.js"></script>
        <script type="text/javascript" src="resources/js/public/bundle.js"></script>
    </body>
</html>